@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .diamond-gradient {
    background: linear-gradient(45deg, #2ba7aa 25%, #cbf7f9 25%, #cbf7f9 50%, #2ba7aa 50%, #2ba7aa 75%, #cbf7f9 75%);
    background-clip: text;
    color: transparent;
  }
  .container {
    @apply max-w-[1440px] px-5 sm:px-8 lg:px-20 mx-auto
  }
  .navlinks li {
    @apply cursor-pointer text-base font-medium py-4 lg:px-2 xl:px-5 rounded-full
  }
  .navlinks .active {
    @apply bg-[#D9D9D9]
  }
  .bg-gradient-green {
    @apply bg-gradient-to-b from-[#012528] from-[100%] to-[#04838E] to-[100%]
  }
  .bg-text-gradient {
    @apply bg-gradient-to-tl from-[#012528] to-[#04838E] bg-clip-text text-transparent
  }
  .course-module-h2 {
    @apply bg-gradient-to-tl from-[#2ba7aa] to-[#cbf7f9] bg-clip-text text-transparent
  }
  .cta-button-nav {
    @apply text-white font-semibold text-[15px] py-4 px-2 xl:px-4 bg-[url('/assets/nav-btn-bg.svg')] bg-cover bg-no-repeat w-fit rounded-full
  }
  .cta-button {
    @apply text-white bg-[url('/assets/cta-btn-bg.svg')] bg-cover bg-no-repeat w-fit rounded-full
  }
  .feature-card {
    @apply flex md:w-[25%] flex-col gap-3 md:gap-4 items-center text-center md:text-start md:items-start
  }
  .designed-for-title {
    @apply py-2 text-3xl sm:text-4xl md:text-5xl bg-gradient-to-tl from-[#2ba7aa] to-[#cbf7f9] bg-clip-text text-transparent
  }
  .designed-for .active {
    @apply py-3 block text-light-green md:border-t-4 border-[#fff]
  }
  .designed-for li {
    @apply py-3 hidden md:block
  }
  .progress .active {
    @apply  bg-white
  }
  .progress span {
    @apply w-2 h-2 border border-white rounded-full
  }
  .tuition-bd li {
    @apply flex items-start gap-2 text-start
  }
  .tuition-bd li p {
    @apply w-[85%]
  }
  .info-card {
    @apply min-h-[55vh] h-[526px] sm:h-[50vh] md:h-[723px] w-[90%] sm:w-[75%] md:w-[422px] overflow-hidden rounded-3xl
  }
}
